edg/src/main/resources/EDIFACT-Templates/EDIFACT-Messages.dfdl.xsd.mustache

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ========================LICENSE_START=================================
  smooks-edifact-cartridge
  %%
  Copyright (C) 2020 Smooks
  %%
  Licensed under the terms of the Apache License Version 2.0, or
  the GNU Lesser General Public License version 3.0 or later.
  
  SPDX-License-Identifier: Apache-2.0 OR LGPL-3.0-or-later
  
  ======================================================================
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  
  ======================================================================
  
  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU Lesser General Public
  License as published by the Free Software Foundation; either
  version 3 of the License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  Lesser General Public License for more details.
  
  You should have received a copy of the GNU Lesser General Public License
  along with this program; if not, write to the Free Software Foundation,
  Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  =========================LICENSE_END==================================
  -->

<xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
            xmlns:ibmEdiFmt="http://www.ibm.com/dfdl/EDI/Format"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:srv="http://www.ibm.com/dfdl/edi/un/service/4.1"
            xmlns:{{version}}="http://www.ibm.com/dfdl/edi/un/edifact/{{version}}"
            targetNamespace="http://www.ibm.com/dfdl/edi/un/edifact/{{version}}">

    <xsd:import namespace="http://www.ibm.com/dfdl/EDI/Format" schemaLocation="/EDIFACT-Common/IBM_EDI_Format.dfdl.xsd"/>
    <xsd:import namespace="http://www.ibm.com/dfdl/edi/un/service/4.1" schemaLocation="/EDIFACT-Common/EDIFACT-Service-Segments-4.1.dfdl.xsd"/>
    <xsd:include schemaLocation="EDIFACT-Segments.dfdl.xsd"/>

    <xsd:annotation>
        <xsd:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format ref="ibmEdiFmt:EDIFormat"/>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:annotation>
        <xsd:appinfo source="http://www.ibm.com/dfdl/edi/un/edifact">{{version}}</xsd:appinfo>
        <xsd:documentation>
            EDIFACT {{version}} messages
        </xsd:documentation>
    </xsd:annotation>

    {{#messages}}
        <xsd:element name="{{value.segments.xmlName}}" type="{{version}}:{{value.segments.xmlName}}"/>
        <xsd:complexType name="{{value.segments.xmlName}}">
            <xsd:sequence>
                {{#value.segments.segments}}
                    {{value.render}}
                {{/value.segments.segments}}
            </xsd:sequence>
        </xsd:complexType>
    {{/messages}}

    <xsd:element name="BadMessage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element dfdl:ref="ibmEdiFmt:EDISegmentFormat" name="Segment" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Name" type="xsd:string" dfdl:lengthKind="explicit" dfdl:length="3">
                                <xsd:annotation>
                                    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                                        <dfdl:discriminator test="{. ne 'UNT' and . ne 'UIT'}"/>
                                    </xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="Data" type="xsd:hexBinary" dfdl:lengthUnits="bytes"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
